<DOCTYPE html>
<html>
    <head>
        <title>Test7App4</title>
    </head>
    <body>
        <h1>Add item</h1>
        <form action="/groceries" method="POST">
            <input type="number" name="id" placeholder="ID">
            <input type="text" name="item" placeholder="Name">
            <input type="number" name="price" step="0.01" placeholder="Price">
            <input type="number" name="qty" placeholder="QTY">
            <button type="submit">Add Item</button>
        </form>
    </body>
</html>